@import url("./reset.css");

body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #f0f2f5;
}

header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(0, 120, 205);
    color: white;
    position: sticky;
    padding: .75rem 1.75rem;
}

h1, h2, p {
    margin: 0.5rem 0;
}

header h1 a {
    color: white;
    text-decoration: none;
}

header form {
    flex: 1;
    display: flex;
    max-width: 400px;
    margin: 0.5rem;
}

header input {
    flex: 1;
    padding: 0.5rem;
    border: none;
    border-radius: 5px 0 0 5px;
    background-color: white;
}

header button {
    padding: 0.5rem;
    border: none;
    border-radius: 0 5px 5px 0;
    background-color: rgb(0, 95, 165);
    color: white;
    cursor: pointer;
}

header button:hover {
    background-color: rgb(0, 72, 128);
}

header .tbr-link {
    /* margin-left: 1rem; */
    color: white;
    font-weight: bold;
}

main {
    max-width: 1200px;
    margin: auto;
    padding: 1rem;
}

ul.grid {
    display: grid;
    grid-template-columns:  repeat(auto-fill, minmax(180px, 1fr));
    gap: 1rem;
    justify-content: start;
    padding-left: 0;
}

li {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    padding: 0.75rem;
    margin: 0;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}

li:hover {
    transform: translateY(-1.5px)
}

li img {
    width: 120px;
    height: auto;
    object-fit: contain;
    border-radius: 5px;
    margin-bottom: 0.5rem;
}

li button {
    background-color: rgb(0, 95, 165);
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: auto;
    padding: 0.35rem 0.7rem;
    cursor: pointer;
}

li button:hover {
    background-color: rgb(0, 72, 128);
}

li button:active {
    transform: scale(0.97);
}

.book-info {
    flex: 1;
}

.book-info strong {
    display: block;
    font-size: 1.05rem;
    margin-bottom: 0.25rem;
}

.book-info small {
    display: block;
    color: rgb(85, 85, 85);
}

button.remove {
    background-color: darkred;
}

button.remove:hover {
    background-color: maroon;
}




/* Mobile layout adjustments */
@media (max-width: 600px) {
    /* Stack header/nav for small screens */
    header {
        flex-direction: column;
    }
    /* Make grid items slightly narrower to better fit on smaller divices*/
    ul.grid {
        grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    }
}